# 仮想環境
env/

# Pythonキャッシュ
__pycache__/
*.pyc

# データファイル (CSV)
*.csv
# データファイル (NumPy)
*.npz
# データファイル (NumPyの生データ)
*.npy
# データファイル (PyTorch)
*.pth
*.png
*.txt
*.pkl
# Jupyter Notebookキャッシュ
.ipynb_checkpoints/

# IDE設定 (もし使っているなら)
.vscode/
.idea/